/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    background-color: #000;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 24px;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Custom Fonts
-------------------------------------------------------------- */
@font-face {
    font-family: 'umbrageregular';
    src: url('fonts/umbrage2-webfont.eot');
    src: url('fonts/umbrage2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/umbrage2-webfont.woff') format('woff'),
         url('fonts/umbrage2-webfont.ttf') format('truetype'),
         url('fonts/umbrage2-webfont.svg#umbrageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* =Repeatable patterns
-------------------------------------------------------------- */

/* Form fields, general styles first */
button,
input,
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 6px;
}
button,
input {
    line-height: normal;
}
textarea {
    font-size: 100%;
    overflow: auto;
    vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Buttons */
input[type="submit"],
input[type="button"],
input[type="reset"]{
    padding: 6px 10px;
    font-size: 11px;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    color: #5e5e5e;
    background-color: #ebebeb;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    color: #757575;
    background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: linear-gradient(top, #ebebeb, #e1e1e1);
    box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
    border: none;
}

/* Images */
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
.site-content nav {
    clear: both;
    line-height: 2;
    overflow: hidden;
}
#nav-above {
    padding: 24px 0;
}
#nav-above {
    display: none;
}
.paged #nav-above {
    display: block;
}
.nav-previous,
.previous-image {
    float: left;
    width: 50%;
}
.nav-next,
.next-image {
    float: right;
    text-align: right;
    width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
    margin: 48px 0;
}

/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
    font-size: 87.5%;
}
body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #ccc;
}
a {
    outline: none;
    color: #21759b;
}
a:hover {
    color: #0f3647;
}

/* Page structure */
.site {
}
.site-content {
    padding: 20px 20px 20px 145px;
}
#content {
    min-height: 490px;
    background: #e6e6e6;
    opacity: 1.0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000;
}

/* Navigation Menu */
.logo {
}
.main-navigation {
    position: absolute;
}
.main-navigation li {
    margin-top: 24px;
    font-size: 12px;
    line-height: 1.42857143;
}
.main-navigation a {
    color: #5e5e5e;
}
.main-navigation a:hover {
    color: #21759b;
}
.main-navigation div.nav-menu {
    position: absolute;
}
.main-navigation ul.nav-menu {
    position: relative;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
    display: inline-block;
}

/* Footer */
footer[role="contentinfo"] {
    clear: both;
    font-size: 12px;
    text-align: center;
    line-height: 2;
    max-width: 980px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 0;
}
footer[role="contentinfo"] a {
    color: #686868;
}
footer[role="contentinfo"] a:hover {
    color: #21759b;
}


/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
    clear: both;
}
.entry-header {
    margin-bottom: 24px;
}
.entry-header img.wp-post-image {
    margin-bottom: 24px;
}
.entry-header .entry-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
}
.entry-header .entry-title a {
    text-decoration: none;
}
.entry-header .entry-format {
    margin-top: 24px;
    font-weight: normal;
}
.entry-meta a {
    color: #757575;
}
.entry-meta a:hover {
    color: #21759b;
}
.entry-content {
    padding: 10px;
}
.entry-content,
.entry-summary,
.mu_register {
    line-height: 1.714285714;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin: 24px 0;
    line-height: 1.714285714;
}
.entry-content h1 {
    font-size: 21px;
    line-height: 1.5;
}
.entry-content h2 {
    font-size: 18px;
    line-height: 1.6;
}
.entry-content h3 {
    font-size: 16px;
    line-height: 1.846153846;
}
.entry-content h4 {
    font-size: 14px;
    line-height: 1.846153846;
}
.entry-content h5 {
    font-size: 13px;
    line-height: 1.846153846;
}
.entry-content h6 {
    font-size: 12px;
    line-height: 1.846153846;
}
.entry-content p,
.entry-summary p {
    margin: 0 0 24px;
    line-height: 1.714285714;
}
.entry-content ol.
.entry-content ul {
    margin: 0 0 24px;
    line-height: 1.714285714;
}
.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
    margin-bottom: 0;
}
.entry-content ul {
    list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
    list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
    margin: 0 0 0 36px;
}
.entry-content blockquote,
.comment-content blockquote {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    padding: 24px;
    padding: 1.714285714rem;
    font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
    margin-bottom: 0;
}
.entry-content code,
.comment-content code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
}
.entry-content pre,
.comment-content pre {
    border: 1px solid #ededed;
    color: #666;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
    display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
.entry-content address,
.comment-content address {
    display: block;
    line-height: 1.714285714;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
img.alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
    margin: 0 24px;
    margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
    font-weight: bold;
    line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
    border-bottom: 1px solid #ededed;
    color: #757575;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    width: 100%;
}
.entry-content table caption,
.comment-content table caption {
    font-size: 16px;
    font-size: 1.142857143rem;
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
.site-content article {
    border-bottom: 4px double #ededed;
    margin-bottom: 72px;
    margin-bottom: 5.142857143rem;
    padding-bottom: 24px;
    padding-bottom: 1.714285714rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.page-links {
    clear: both;
    line-height: 1.714285714;
}
footer.entry-meta {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #757575;
}
.single-author .entry-meta .by-author {
    display: none;
}
.mu_register h2 {
    color: #757575;
    font-weight: normal;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
    .author-avatar {
        float: left;
        margin-top: 8px;
    }
    .author-description {
        float: right;
        width: 80%;
    }
    .wrapper {
        padding: 40px 0 0 80px;
    }
    .site {
        margin: 0 auto;
        max-width: 980px;
    }
    .site-content {
        -moz-border-radius: 8px;
        border-radius: 8px;
        box-shadow: 0 0 6px 6px rgba(20, 190, 255, 0.8);
        -moz-box-shadow:0 0 6px 6px rgba(20, 190, 255, 0.8);
        -webkit-box-shadow:0 0 6px 6px rgba(20, 190, 255, 0.8);
    }
    body.template-front-page .site-content,
    body.single-attachment .site-content,
    body.full-width {
        width: 100%;
    }
    .widget-area {
        float: right;
        width: 26.041666667%;
    }
    .site-header h1,
    .site-header h2 {
        text-align: left;
    }
    .site-header h1 {
        font-size: 26px;
        font-size: 1.857142857rem;
        line-height: 1.846153846;
        margin-bottom: 0;
    }
    .main-navigation ul.nav-menu,
    .main-navigation div.nav-menu > ul {
        display: inline-block !important;
        text-align: left;
        width: 100%;
    }
    .main-navigation ul {
        margin: 0;
        text-indent: 0;
    }
    .main-navigation li a,
    .main-navigation li {
        text-decoration: none;
    }
    .main-navigation li a {
        display: block;
        line-height: 55px;
        width: 210px;
        
        color: #bbb;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .main-navigation .menu-item {
        background-repeat: no-repeat;
        /* Hide link text */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .main-navigation li a:hover {
        color: #000;
    }
    .main-navigation li {
        margin: 0;
    }
    .main-navigation li ul {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 1;
    }
    .main-navigation li ul ul {
        top: 0;
        left: 100%;
    }
    .main-navigation ul li:hover > ul {
        border-left: 0;
        display: block;
    }
    .main-navigation li ul li a {
        background: #efefef;
        display: block;
        font-size: 11px;
        line-height: 2.181818182;
        padding: 8px 10px;
        width: 180px;
        width: 12.85714286rem;
        white-space: normal;
    }
    .main-navigation li ul li a:hover {
        background: #e3e3e3;
        color: #444;
    }
    .main-navigation .current-menu-item > a,
    .main-navigation .current-menu-ancestor > a,
    .main-navigation .current_page_item > a,
    .main-navigation .current_page_ancestor > a {
        color: #ccc;
        font-weight: bold;
    }
    .menu-toggle {
        display: none;
    }
    .entry-header .entry-title {
        font-size: 22px;
    }
    #respond form input[type="text"] {
        width: 46.333333333%;
    }
    #respond form textarea.blog-textarea {
        width: 79.666666667%;
    }
    .template-front-page .site-content,
    .template-front-page article {
        overflow: hidden;
    }
    .template-front-page.has-post-thumbnail article {
        float: left;
        width: 47.916666667%;
    }
    .entry-page-image {
        float: right;
        margin-bottom: 0;
        width: 47.916666667%;
    }
    .template-front-page .widget-area .widget,
    .template-front-page.two-sidebars .widget-area .front-widgets {
        float: left;
        width: 51.875%;
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
    }
    .template-front-page .widget-area .widget:nth-child(odd) {
        clear: right;
    }
    .template-front-page .widget-area .widget:nth-child(even),
    .template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
        float: right;
        width: 39.0625%;
        margin: 0 0 24px;
        margin: 0 0 1.714285714rem;
    }
    .template-front-page.two-sidebars .widget,
    .template-front-page.two-sidebars .widget:nth-child(even) {
        float: none;
        width: auto;
    }
    .commentlist .children {
        margin-left: 48px;
        margin-left: 3.428571429rem;
    }
    
    /* Navigation Menu Item Images */
    .main-navigation .menu-item-about {
        background-image: url('images/about-off.png');
        height: 64px;
    }
    .main-navigation .menu-item-about > a:hover{
        background-image: url('images/about.png');
    }
    .main-navigation .menu-item-menu {
        background-image: url('images/menu-off.png');
        height: 68px;
    }
    .main-navigation .menu-item-menu > a:hover{
        background-image: url('images/menu.png');
    }
    .main-navigation .menu-item-events {
        background-image: url('images/events-off.png');
        height: 61px;
    }
    .main-navigation .menu-item-events > a:hover{
        background-image: url('images/events.png');
    }
    .main-navigation .menu-item-staff {
        background-image: url('images/staff-off.png');
        height: 56px;
    }
    .main-navigation .menu-item-staff > a:hover{
        background-image: url('images/staff.png');
    }
    .main-navigation .menu-item-mines {
        background-image: url('images/mines-off.png');
        height: 59px;
    }
    .main-navigation .menu-item-mines > a:hover{
        background-image: url('images/mines.png');
    }
    .main-navigation .menu-item-contact {
        background-image: url('images/contact-off.png');
        height: 55px;
    }
    .main-navigation .menu-item-contact > a:hover{
        background-image: url('images/contact.png');
    }
    .main-navigation .menu-item-location {
        background-image: url('images/location-off.png');
        height: 59px;
    }
    .main-navigation .menu-item-location > a:hover{
        background-image: url('images/location.png');
    }
    .main-navigation .menu-item-gallery {
        background-image: url('images/gallery-off.png');
        height: 58px;
    }
    .main-navigation .menu-item-gallery > a:hover{
        background-image: url('images/gallery.png');
    }
}

/* Minimum width of 980 pixels. */
@media screen and (min-width: 980px) {
    body .site {
        margin-top: 95px;
        margin-bottom: 45px;        
    }
}


/* =Print
----------------------------------------------- */

@media print {
    body {
        background: none !important;
        color: #000;
        font-size: 10pt;
    }
    footer a[rel=bookmark]:link:after,
    footer a[rel=bookmark]:visited:after {
        content: " [" attr(href) "] "; /* Show URLs */
    }
    a {
        text-decoration: none;
    }
    .entry-content img,
    .comment-content img,
    .author-avatar img,
    img.wp-post-image {
        border-radius: 0;
        box-shadow: none;
    }
    .site {
        clear: both !important;
        display: block !important;
        float: none !important;
        max-width: 100%;
        position: relative !important;
    }
    .site-header {
        margin-bottom: 72px;
        margin-bottom: 5.142857143rem;
        text-align: left;
    }
    .site-header h1 {
        font-size: 21pt;
        line-height: 1;
        text-align: left;
    }
    .site-header h2 {
        color: #000;
        font-size: 10pt;
        text-align: left;
    }
    .site-header h1 a,
    .site-header h2 a {
        color: #000;
    }
    .author-avatar,
    #colophon,
    #respond,
    .commentlist .comment-edit-link,
    .commentlist .reply,
    .entry-header .comments-link,
    .entry-meta .edit-link a,
    .page-link,
    .site-content nav,
    .widget-area,
    img.header-image,
    .main-navigation {
        display: none;
    }
    .wrapper {
        border-top: none;
        box-shadow: none;
    }
    .site-content {
        margin: 0;
        width: auto;
    }
    .singular .entry-header .entry-meta {
        position: static;
    }
    .singular .site-content,
    .singular .entry-header,
    .singular .entry-content,
    .singular footer.entry-meta,
    .singular .comments-title {
        margin: 0;
        width: 100%;
    }
    .entry-header .entry-title,
    .entry-title,
    .singular .entry-title {
        font-size: 21pt;
    }
    footer.entry-meta,
    footer.entry-meta a {
        color: #444;
        font-size: 10pt;
    }
    .author-description {
        float: none;
        width: auto;
    }

    /* Comments */
    .commentlist > li.comment {
        background: none;
        position: relative;
        width: auto;
    }
    .commentlist .avatar {
        height: 39px;
        left: 2.2em;
        top: 2.2em;
        width: 39px;
    }
    .comments-area article header cite,
    .comments-area article header time {
        margin-left: 50px;
        margin-left: 3.57142857rem;
    }
}